p{color:red;
font-family: courier;
font-size: 150%;
}
h2,h3{text-align: center; 
color; white;
font-family: Stencil;
font-size: 200%;
}
body{background-color: powderblue;
	
}
h1{text-align: center; 
font-family: Broadway;
color; white;
font-size: 250%
}
img {padding: 20px;
border: 10px solid
}